{% block content %}
<div class="form-row">
    <div class="col">
        <label for="mes">Mês:</label>
        <select id="mes" name="mes" class="form-control">
            <option value="1" {% if mes == '1' or mes == '01' %}selected{% endif %}>Janeiro</option>
            <option value="2" {% if mes == '2' or mes == '02' %}selected{% endif %}>Fevereiro</option>
            <option value="3" {% if mes == '3' or mes == '03' %}selected{% endif %}>Março</option>
            <option value="4" {% if mes == '4' or mes == '04' %}selected{% endif %}>Abril</option>
            <option value="5" {% if mes == '5' or mes == '05' %}selected{% endif %}>Maio</option>
            <option value="6" {% if mes == '6' or mes == '06' %}selected{% endif %}>Junho</option>
            <option value="7" {% if mes == '7' or mes == '07' %}selected{% endif %}>Julho</option>
            <option value="8" {% if mes == '8' or mes == '08' %}selected{% endif %}>Agosto</option>
            <option value="9" {% if mes == '9' or mes == '09' %}selected{% endif %}>Setembro</option>
            <option value="10" {% if mes == '10' %}selected{% endif %}>Outubro</option>
            <option value="11" {% if mes == '11' %}selected{% endif %}>Novembro</option>
            <option value="12" {% if mes == '12' %}selected{% endif %}>Dezembro</option>
        </select>
    </div>
    <div class="col">
        <label for="ano">Ano:</label>
        <select id="ano" name="ano" class="form-control">
            <option value="{{ ano|add:"-1" }}">{{ ano|add:"-1" }}</option>
            <option value="{{ ano }}" selected>{{ ano }}</option>
            <option value="{{ ano|add:"1" }}">{{ ano|add:"1" }}</option>
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
    </div>
</div>
{% endblock %}