{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-start">
        <div class="col-lg-6">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5">
                    <h2 class="text-center">Cadastrar Compra</h2>
                    <form method="post" class="user">
                        {% csrf_token %}
                        
                        <!-- Exibindo erros de formulário antes do campo -->
                        {% for field in form %}
                            {% if field.name != 'compra_parcelada' %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    
                                    <!-- Erros do campo -->
                                    {% if field.errors %}
                                        <div class="text-danger">
                                            {% for error in field.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-primary btn-user btn-block">Cadastrar</button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% url 'faturas:lista_compras' %}" class="btn btn-secondary">Voltar para Lista de Compras</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
