{% extends "base.html" %}
{% block content %}

<h2>Fatura do mês de {{ mes }}/{{ ano }}</h2>
<p>Total: R$ {{ total }}</p>
<table>
    <thead>
        <tr>
            <th>Nome da Compra</th>
            <th>Valor</th>
            <th>Parcela</th>
        </tr>
    </thead>
    <tbody>
        {% for compra in fatura %}
        <tr>
            <td>{{ compra.0 }}</td>
            <td>R$ {{ compra.1 }}</td>
            <td>{{ compra.2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}