{% extends "base.html" %}
{% block content %}

<form method="get" action="{% url 'faturas:ver_fatura' %}">
    {% include "faturas/utils/form_datas.html" %}
</form>

<br>
<h1>Fatura do mês de {{ mes }}/{{ ano }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Total de compras: {{ compras }} | Total da fatura: R$ {{ total }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome da Compra</th>
                        <th>Valor</th>
                        <th>Parcela</th>
                        <th>Valor total da compra</th>
                        <th>Data da compra</th>
                    </tr>
                </thead>
                {% if faturas %}
                <tfoot>
                    <tr>
                        <th>Nome da Compra</th>
                        <th>Valor</th>
                        <th>Parcela</th>
                        <th>Valor total da compra</th>
                        <th>Data da compra</th>
                    </tr>
                </tfoot>
                {% endif %}
                <tbody>
                    {% for compra in faturas %}
                    <tr>
                        <td>{{ compra.nome_compra }}</td>
                        <td>R$ {{ compra.valor_parcela }}</td>
                        <td>{{ compra.parcela_atual }}</td>
                        <td>R$ {{ compra.valor_compra }}</td>
                        <td>{{ compra.data_compra }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}